*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: skyblue;
    color: white;
    height: 100vh;
    width: 100vw;
    gap: 0.5rem;
       display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; 
    flex-direction: column;

}
.container{
    background-color:white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
   width: 500px;
    min-height: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;

}
.input-box{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 1rem;
    padding: 20px;
    
}
.input-box input{
    background-color: rgb(198, 239, 255);
    border-radius: 20px;
    height: 50px;
    width: 250px;
    font-size: 20px;
}
.input-box input::placeholder {
    text-align: center;
}
.input-box button{
    background-color: rgb(196, 238, 255);
    border-radius: 20px;
    width: 60px;
    height: 50px;
}

.main-tag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.img-tag img{
    width: 300px;
    height: 300px;
}
.info  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}
#celsius{
    color: black;
    font-size: 60px;
    font-weight: bold;
    padding: 0,auto;

}
#para{
        color: black;
    font-size: 40px;
    font-weight: bold;
}
.footer{
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 20px;
}
.drop-img{
    display: flex;

}
.drop-img i{
    font-size: 50px;
}
.data{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
#percent{
    font-size: 20px;
    font-weight: bold;
}
.wind {
    display: flex;
    flex-direction: row;
}
.wind-img i{
    font-size: 50px;
}
.wind-data{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
#kilo{
    font-size: 20px;
    font-weight: bold;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}